@import url('./font.css');

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  font-family: Gilroy-regular;
}

body,
#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

html:focus-within {
  scroll-behavior: smooth;
}

li {

  list-style: none;

}

#root {
  font-family: Gilroy-regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p,
textarea,
ul,
li,
select,
h1,
h2,
h3,
h4,
h5,
h6,
head,
br {
  margin: 0;
  padding: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #7f7f7f;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

a:hover {
  color: #fff;
}


.btn {
  &:hover {
    opacity: 0.8;
  }
}

.cell {
  @apply flex-auto break-all;

  & p:nth-child(1) {
    @apply text-[#999] text-[12px] leading-[14px];
  }

  & p:nth-child(2) {
    @apply font-m text-[14px] leading-[16px];
  }
}

.col {
  @media screen and (max-width:640px) {
    padding: 20px;
    border: 1px solid #333;
  }
}

// .col:not(:last-child) {
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     width: 1px;
//     height: 20px;
//     background: #D9D9D9;
//     right: 20%;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }

.pointer {
  cursor: pointer;
}

.address-dropdown-box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  & li {
    padding: 12px 18px !important;

    &:hover {
      background-color: #fff;
    }
  }

  .ant-dropdown-menu-submenu .ant-dropdown-menu {
    border-radius: 2px;
    padding: 24px 18px;
  }
}

.contractAddress {
  @media screen and (max-width:1200px) and (min-width:640px) {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media screen and (max-width:640px) {
    max-width: 344px;
    word-break: break-all;
  }
}